:root {
  --nav-bg: #0077cc;
  --nav-text: white;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: var(--nav-bg);
  color: var(--nav-text);
  padding: 15px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  flex: 1 1 100%;
}

.logo a {
  font-size: 27px;
  font-weight: bold;
  text-decoration: none;
  color: var(--nav-text);
}

.nav-links {
  flex: 1 1 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.nav-links li {
  display: flex;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: var(--nav-text);
  font-size: 25px;
  transition: color 0.3s ease, transform 0.3s ease;
  font-weight: 1000;
}

.nav-links a:hover {
  color: #ffcc00;
  transform: scale(1.1);
}

.logout-btn,
.theme-toggle {
  background: transparent;
  border: 1px solid var(--nav-text);
  color: var(--nav-text);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-btn:hover,
.theme-toggle:hover {
  /* background-color: var(--nav-text); */
  /* color: var(--nav-bg); */
  background-color: #F9F6EE;
  color: black;
}

@media (min-width: 768px) {
  .logo {
    flex: initial;
    margin-bottom: 0;
  }

  .nav-links {
    flex: initial;
    justify-content: flex-end;
  }
}
